<html xmlns:th="https://www.thymeleaf.org"
  th:replace="~{fragments/layout :: layout (~{::body},'owners')}">

<body>

  <h2>소유자 정보</h2>
  <form th:object="${owner}" class="form-horizontal" id="add-owner-form" method="post">
    <div class="form-group has-feedback">
      <input
        th:replace="~{fragments/inputField :: input ('성', 'firstName', 'text')}" />
      <input
        th:replace="~{fragments/inputField :: input ('이름', 'lastName', 'text')}" />
      <input
        th:replace="~{fragments/inputField :: input ('주소', 'address', 'text')}" />
      <input
        th:replace="~{fragments/inputField :: input ('도시', 'city', 'text')}" />
      <input
        th:replace="~{fragments/inputField :: input ('전화번호', 'telephone', 'text')}" />
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button
          th:with="text=${owner['new']} ? '소유자 추가' : '소유자 업데이트'"
          class="btn btn-primary" type="submit" th:text="${text}">Add Owner</button>
      </div>
    </div>
  </form>
</body>
</html>
