<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org"
  th:replace="~{fragments/layout :: layout (~{::body},'owners')}">

  <body>
  
  
    <h2>소유자 정보</h2>

    <div th:if="${message}" class="alert alert-success" id="success-message">
      <span th:text="${message}"></span>
    </div>

    <div th:if="${error}" class="alert alert-danger" id="error-message">
      <span th:text="${error}"></span>
    </div>




    <table class="table table-striped" th:object="${owner}">
      <tr>
        <th>이름</th>
        <td><b th:text="*{firstName + ' ' + lastName}"></b></td>
      </tr>
      <tr>
        <th>주소</th>
        <td th:text="*{address}"></td>
      </tr>
      <tr>
        <th>도시</th>
        <td th:text="*{city}"></td>
      </tr>
      <tr>
        <th>전화번호</th>
        <td th:text="*{telephone}"></td>
      </tr>
    </table>
  
    <a th:href="@{__${owner.id}__/edit}" class="btn btn-primary">소유자 편집</a>
    <a th:href="@{__${owner.id}__/pets/new}" class="btn btn-primary">새로운 애완 추가</a>
  
    <br />
    <br />
    <br />
    <h2>애완동물 및 방문</h2>
  
    <table class="table table-striped">
  
      <tr th:each="pet : ${owner.pets}">
        <td valign="top">
          <dl class="dl-horizontal">
            <dt>이름</dt>
            <dd th:text="${pet.name}"></dd>
            <dt>생년월일</dt>
            <dd
              th:text="${#temporals.format(pet.birthDate, 'yyyy-MM-dd')}"></dd>
            <dt>애완타입</dt>
            <dd th:text="${pet.type}"></dd>
          </dl>
        </td>
        <td valign="top">
          <table class="table-condensed">
            <thead>
              <tr>
                <th>방문날짜</th>
                <th>설명</th>
              </tr>
            </thead>
            <tr th:each="visit : ${pet.visits}">
              <td th:text="${#temporals.format(visit.date, 'yyyy-MM-dd')}"></td>
              <td th:text="${visit?.description}"></td>
            </tr>
            <tr>
              <td><a th:href="@{__${owner.id}__/pets/__${pet.id}__/edit}">애완동물편집</a></td>
              <td><a th:href="@{__${owner.id}__/pets/__${pet.id}__/visits/new}">방문 추가</a></td>
            </tr>
          </table>
        </td>
      </tr>
  
    </table>
    <script>
    // Function to hide the success and error messages after 3 seconds
    function hideMessages() {
        setTimeout(function() {
            document.getElementById("success-message").style.display = "none";
            document.getElementById("error-message").style.display = "none";
        }, 3000); // 3000 milliseconds (3 seconds)
    }

    // Call the function to hide messages
    hideMessages();
</script>

  </body>


</html>
